<section>
    <div class="container container--limited container--centered">
        <span style="width: 100%">
            <figure style="margin-bottom: 1rem; text-align: center;">
                <img style="max-width: 290px;" src="./../../../assets/logo.svg" alt="Company's logo">
            </figure>
            <form class=" form form--column form--padding-y" action="">
                <input class="form__input" type="text" name="name" id="name" placeholder="Name" required>
                <input class="form__input" type="text" name="username" id="username" placeholder="Username" required>
                <input class="form__input" type="password" name="password" id="password" placeholder="Password"
                    required>
                <button class="form__button" type="submit">Register</button>
            </form>
        </span>
    </div>
</section>