<li class="list__item item item--row" [title]="task.updatedAt | date:'MM/dd/yyyy hh:mm:ss'">
    <h4 [class]="'item__title' + (isDone ? ' item__title--done' : '')">{{task.text}}</h4>

    <ul class="list item__list" *ngIf="!isButtonsDisabled">
        <li class="item item--button">
            <button class="item__button item__button--red" (click)="deleteTask(task.id)"><img src="./../../../assets/icons/tresh.svg" alt=""></button>
        </li>
        <li class="item item--button">
            <button class="item__button item__button--orange" (click)="updateTask(task.id)"><img src="./../../../assets/icons/pen.svg" alt=""></button>
        </li>
        <li class="item item--button">
            <button class="item__button item__button--green" (click)="updateStatusTask(task)"><img src="./../../../assets/icons/check.svg" alt=""></button>
        </li>
    </ul>
</li>