<section>
    <bolttech-header></bolttech-header>

    <form class="form" action="">
        <div class="form__group">
            <input class="form__input form__input--left-border" type="text" name="project" id="project"
                placeholder="Insert a new project" required [formControl]="$any(form.get('name'))">
            <button class="form__button form__button--inline" (click)="createProject()">Icone</button>
        </div>
    </form>

    <div class="container"
        style="margin-top: 1rem; display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));gap: 1rem;">
        <bolttech-card *ngFor="let project of projects" [project]="project" (projectUpdated)="getProjects()">
        </bolttech-card>
    </div>
</section>